@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  background: linear-gradient(135deg,
  rgba(27, 132, 188, 1) 0%,
  rgba(88, 240, 38, 1) 170px,
  rgba(246, 228, 8, 1) 270px,
  rgb(var(--background-start-rgb)) 500px,
  rgb(var(--background-end-rgb)));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.iconButton {
  @apply border-1 pl-0 pr-0 pt-1 pb-1 flex-1 min-w-12 flex flex-col gap-0 h-[40px] leading-4 border-lightBlue;
}
.iconButtonFull {
  @apply iconButton border-competitorsFull text-competitorsFull !important;
}
.iconButtonFull svg {
  @apply text-competitorsFull;
}
.iconButtonIcon {
  @apply block w-[20px] h-[20px] text-lightBlue;
}
.iconButtonText {

}
