@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  background: #FFB258
}

html, body {
  color: rgb(var(--foreground-rgb));
  background: #F9DA61
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.iconButton {
  @apply border-1 pl-0 pr-0 pt-1 pb-1 flex-1 min-w-12 flex flex-col gap-0 h-[40px] leading-4 border-iconButton;
}
.iconButtonIcon {
  @apply block w-[20px] h-[20px] text-iconButton;
}
.iconButtonText {
  @apply text-iconButton;
}

.iconButtonFull {
  @apply iconButton border-iconButtonFull text-iconButtonFull !important;
}
.iconButtonFull svg {
  @apply text-iconButtonFull;
}
.iconButtonFull .iconButtonText {
  @apply text-iconButtonFull;
}
